# Binaries
*.exe
*.obj
*.o
*.out

# Python
__pycache__/
*.pyc

# LaTeX build files
paper/*.aux
paper/*.log
paper/*.out
paper/*.toc
paper/*.xdv
paper/*.fdb_latexmk
paper/*.fls
paper/*.synctex.gz
paper/*.nav
paper/*.snm
paper/*.vrb

# Temporary local files
*.pid
output_*.png
Thumbs.db
.DS_Store
